<div class="menu">
    <div class="menu-item">
        <input #openIfcFile type="file" (click)="onOpenIfcFile()">
    </div>
    
<!-- 
    <div class="menu-item">
        <button (click)="onGetSpaces()">Show Spaces</button>
    </div> -->
    
    <!-- <div class="menu-item">
        <button (click)="onShowNavMeshItems()">Show NavMeshItems</button>
    </div>

    <div class="menu-item">
        <button (click)="getGltfFiles.click()">Create GLTF files</button>
        <input 
        #getGltfFiles
        type="file"
        style="display: none;"
        (change)="onGetGltfFiles($event)"
        />
    </div>

    <div class="menu-item">
        <button (click)="readGltfFiles.click()">Load GLTF file</button>
        <input 
        #readGltfFiles
        type="file"
        style="display: none;"
        (change)="onReadGltfFiles($event)"
        />
    </div> -->


    <div class="menu-item" *ngFor="let floorplan of floorplans">
        <button (click)="showFloorPlan(floorplan)">{{floorplan}}</button>
    </div>
</div>