.viewer-container {
    position: relative;
    width: 65vw;
    height: 100vh;
}

#main-page {
    margin: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
}